<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="/images/logo2.png" alt="wanderlust" class="logoimg">
    </a>
    <a class="navbar-brand" id="title" href="/listings"><b>WanderLust</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav-search nav-hover nav-search-search ms-auto">
        <form class="d-flex needs-validation" role="search" action="/listings/search" method="get" id="searchBox">
          <input class="wander-search" type="search" placeholder="Location | Title | Price" aria-label="Search" name="q" id="mySearchInput">
          <button class="btn search-btn" type="submit" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
          </button>
          <ul class="dropdown-menu">
            <% if(!currUser) { %>
              <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus" style="color:#d33a3e !important;"></i>&nbsp;<b>Sign up</b></a>
              <a class="nav-link" href="/login"><i class="fa-solid fa-user-check" style="color:#d33a3e !important;"></i>&nbsp;<b>Log in</b></a>
            <% } %>
            <% if(currUser) { %>
              <a class="nav-link nav-link-logout" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color:#d33a3e !important;"></i>&nbsp;<b>Log out</b></a>
            <% } %>
            <hr />
            <a class="nav-link" href="/listings/new"><strong><i class="fa-solid fa-circle-plus" style="color:#d33a3e !important;"></i>&nbsp;Add New Home</strong></a>
            <a class="nav-link" href="https://mediafiles.botpress.cloud/ef5ec9b7-9474-4a69-821d-2e72da30e784/webchat/bot.html"><b><i class="fa-brands fa-rocketchat" style="color:#d33a3e !important;"></i>&nbsp;Chat with AI</b></a>
          </ul>
        </div>
        <div id="responsive-registration">
          <% if(!currUser) { %>
            <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus" style="color:#d33a3e !important;"></i>&nbsp;<b>Sign up</b></a>
            <a class="nav-link" href="/login"><i class="fa-solid fa-user-check" style="color:#d33a3e !important;"></i>&nbsp;<b>Log in</b></a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link nav-link-logout" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color:#d33a3e !important;"></i>&nbsp;<b>Log out</b></a>
          <% } %>
          <a class="nav-link" href="/listings/new"><i class="fa-solid fa-circle-plus" style="color:#d33a3e !important;"></i>&nbsp;<strong>Add New Home</strong></a>
          <a class="nav-link" href="https://mediafiles.botpress.cloud/ef5ec9b7-9474-4a69-821d-2e72da30e784/webchat/bot.html"><i class="fa-brands fa-rocketchat" style="color:#d33a3e !important;"></i>&nbsp;<b>AI Chat Assistent</b></a>
        </div>
      </div>
    </div>
  </div>
</nav>
