<%- layout('layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="suraj-col-custom col-11">
      <br>
      <h3 class="h3">Create New Listing:</h3>
      <form action="/listings" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>

        <div class="mb-3">
          <strong><label for="title" class="form-label">Title</label></strong>
          <input class="form-control" type="text" id="title" name="listing[title]" required placeholder="Enter title" autocomplete="off">
          <div class="invalid-feedback">Please enter a valid title!</div>
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
          <strong><label for="description" class="form-label">Description</label></strong>
          <textarea id="description" class="form-control" required name="listing[description]" autocomplete="off"></textarea>
          <div class="invalid-feedback">Please write a short description!</div>
        </div>

        <div class="mb-3">
          <strong><label for="image" class="form-label">Upload Image</label></strong>
          <input type="file" class="form-control" id="image" name="listing[image]" autocomplete="off">
          <div class="invalid-feedback">Please enter a valid image link!</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <strong><label for="price" class="form-label">Price</label></strong>
            <input class="form-control" id="price" required name="listing[price]" placeholder="1200" autocomplete="off">
            <div class="invalid-feedback">Please enter a valid price!</div>
          </div>

          <div class="mb-3 col-md-4">
            <strong><label for="country" class="form-label">Country</label></strong>
            <input type="text" class="form-control" id="country" required name="listing[country]" placeholder="India" autocomplete="country">
            <div class="invalid-feedback">Please enter a valid country!</div>
          </div>
          <div class="mb-3  col-md-4">
            <strong><label for="location" class="form-label">Location</label></strong>
            <input type="text" class="form-control" id="location" required name="listing[location]" placeholder="Jaipur, Rajasthan" autocomplete="off">
            <div class="invalid-feedback">Please enter a valid location!</div>
          </div>
        </div>

            <div class="m-b3">
              <label for="category" class="form-label">Choose Category</label>
              <div class="category-choose">
                <p><b>Single choose :</b> Click &nbsp;&nbsp;</p>
              </div>
              <select
                id="category"
                name="listing[category]"
                class="form-select border border-black border-opacity-50 mb-2"
                multiple
                required
                style="font-size: 0.95rem"
              >
                <option value="Beachfront">Beachfront</option>
                <option value="Cabins">Cabins</option>
                <option value="Omg">OMG</option>
                <option value="Lake">Lake</option>
                <option value="Design">Design</option>
                <option value="Amazing Pools">Amazing pools</option>
                <option value="Farms">Farms</option>
                <option value="Amazing Views">Amazing views</option>
                <option value="Rooms">Rooms</option>
                <option value="Lakefront">Lakefront</option>
                <option value="Tiny Homes">Tiny homes</option>
                <option value="Countryside">Countryside</option>
                <option value="Treehouse">Treehouse</option>
                <option value="Trending">Trending</option>
                <option value="Tropical">Tropical</option>
                <option value="National Parks">National parks</option>
                <option value="Casties">Casties</option>
                <option value="Camping">Camping</option>
                <option value="Top Of The World">Top of the world</option>
                <option value="Luxe">Luxe</option>
                <option value="Iconic Cities">Iconic cities</option>
                <option value="Earth Homes">Earth homes</option>
              </select>
              <div class="invalid-feedback">Choose category name</div>
            </div>

       

        <button class="edit-btn btn btn-outline-warning mt-3 mb-3">Add</button>
        <br><br>
      </form>
    </div>
  </div>
</body>