.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .login-container {
    padding: 1rem;
  }

  .login-container h2 {
    font-size: 1.5rem;
  }
}

.signup-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .signup-container {
    padding: 1rem;
  }

  .signup-container h2 {
    font-size: 1.5rem;
  }
  .signup-link {
    margin-top: 2rem;
    text-align: center;
    color: #34495e;
    font-size: 18px;
   
  }
}

/* ////////////////////// */

/* //signUp form  */
.signup-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.signup-container h2 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-field input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.input-field input:focus {
  border-color: #007bff;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.signin-link {
  margin-top: 1rem;
  text-align: center;
  color: #555;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
  
}

.signin-link a:hover {
  text-decoration: underline;
}

/* login form */
body {
  background-color: #f2f4f5;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.login-container h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
  text-align: center;
}

.input-field {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #34495e;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #e74c3c;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #c0392b;
}

.signup-link {
  margin-top: 1rem;
  text-align: center;
  color: #34495e;
}

.signup-link a {
  color: #e74c3c;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
