.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
  .star-rating input[type="radio"] {
    display: none;
  }
  .star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .star-rating label {
      font-size: 1.5em;
    }
  }
  